.codeSpaceItem .CodeThumbnail {
    width: 1.3rem;
    height: 1.3rem;
}

.codeSpaceItem {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.2s ease; /* 부드러운 효과 */
}

/* 마우스를 올렸을 때 배경색 변경 */
.codeSpaceItem:hover {
  background-color: #f0f0f0; /* 연한 회색 */
}